

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>MAKING CHANGES TO YOUR SPACE...</h4></div>
      </div><!--.panel-heading-->
      <div class="panel-body">

        <div class="form-horizontal">
          <%= form_for @space do |f| %>
          <div class="form-content">

            <div class="form-group">
              <label class="control-label col-md-3">Space Name</label>
              <div class="col-md-5">
                <div class="inputer">
                  <div class="input-wrapper">
                    <%= f.text_field :name, placeholder: 'ex: Office A' , class:"form-control", required: true%>
                  </div>
                </div>
              </div>
            </div><!--.form-group-->

            <div class="form-group">
              <label class="control-label col-md-3">Capacity</label>
              <div class="col-md-5">
                <div class="inputer">
                  <div class="input-wrapper">
                    <%= f.number_field :number_of_seats, placeholder: '(number of people) ex: 30' , class:"form-control"%>
                  </div>
                </div>
              </div>
            </div><!--.form-group-->

            <div class="form-group">
              <label class="control-label col-md-3">Description</label>
              <div class="col-md-5">
                <div class="inputer">
                  <div class="input-wrapper">
                    <%= f.text_area :description, placeholder: 'Describe your space: ex: Capacity, Equipment, Wheelchair Accessibility, Is food allowed?', class:"form-control"%>
                  </div>
                </div>
              </div>
            </div><!--.form-group-->

            <div class="form-group">
              <label class="control-label col-md-3">Add an Image</label>
              <div class="col-md-9">
                <div class="form-group">
                  <%= f.file_field :image, class:"form-control" %>
                </div><!--.form-group-->
              </div><!--.col-md-9-->
            </div><!--.row-->

            <%= f.hidden_field :address, value: current_user.street %>
            <%= f.hidden_field :city, value: current_user.city %>
            <%= f.hidden_field :state, value: current_user.state %>
            <%= f.hidden_field :zip, value: current_user.zip %>


            <div class="form-buttons">
              <div class="row">
                <div class="col-md-offset-3 col-md-9">
                  <%= f.submit 'Submit', class:"btn btn-primary"%>
                  <%= link_to 'Cancel', root_path, class:"btn btn-flat btn-default"%>
                </div>
              </div>
            </div>

            </div>
        <% end %>
        </div>

      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div><!--.row-->

