<%
  @title1= @space.name
  @title2= ""
%>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4><%= @space.name %></h4>
          <% if (user_signed_in?) && (current_user.id == @space.user_id) %>
              <%= link_to 'DELETE ', @space, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger button-striped button-full-striped btn-xs pull-right" %>
              <%= link_to "EDIT ", edit_space_path(@space), class:"btn btn-success button-striped button-full-striped btn-xs pull-right" %>
          <% end %>
        </div>

      </div><!--.panel-heading-->
      <div class="panel-body">

        <div class="row example-row">
          <div class="col-md-3">
            <%= cl_image_tag(@space.image_url(:display), width:"100%")%>
            <%= rating_for @space, "space", :disable_after_rate => true %>
            <p>Owned by <%= link_to User.find(@space.user_id).name, User.find(@space.user_id)%></p>
            <p><%= @space.description %></p>
            <p><b>Address:</b> <%= @space.address %><br /><%= @space.city %>, <%= @space.state %></p>
            <%= link_to "BOOK IT NOW", new_space_booking_path(@space), class:"btn btn-blue" %>
          </div><!--.col-md-3-->
          <div class="col-md-9">

            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#tab1_1" data-toggle="tab">Availability</a></li>
              <li><a href="#tab1_2" data-toggle="tab">Bookings</a></li>
              <li><a href="#tab1_3" data-toggle="tab">Photos</a></li>
              <li><a href="#tab1_4" data-toggle="tab">Location</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="tab1_1">
                <div id="calendar"></div>
              </div><!--.tab-pane-->
              <div class="tab-pane" id="tab1_2">
                <div class="row">
                  <%= link_to "BOOK IT NOW", new_space_booking_path(@space), class:"btn btn-blue btn-sm pull-right" %>
                  <div class="col-md-12">
                  <% @space.bookings.each do |f| %>
                    <ul class="list-material">
                      <li class="has-action-left has-action-right">
                        <a href="#" class="visible">
                          <div class="list-action-left">
                            <i class="ion-calendar icon"></i>
                          </div>
                          <div class="list-content">
                            <span class="title"><%= f.tenant.name %></span>
                            <span class="caption">
                              <%= f.start_time.strftime("Booked on %A %b/%d/%Y at %I:%M%p") %>
                              for <%= f.length %> hour(s)
                              <br />Main Conference Room</span>

                          </div>
                          <div class="list-action-right">
                            <span class="top"><%= ((f.start_time - Time.now)/86400).round  %> days <br> from today</span>
                            <i class="ion-android-done bottom"></i>
                          </div>
                        </a>
                      </li>
                  <% end %>
                    </ul>
                  </div><!--.col-->
                </div>
              </div><!--.tab-pane-->
              <div class="tab-pane" id="tab1_3">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card card-indigo card-image bg-image sample-bg-image4">

                    </div><!--.card-->
                  </div><!--.col-->
                  <div class="col-md-6">
                    <div class="card card-indigo card-image bg-image sample-bg-image4">

                    </div><!--.card-->
                  </div><!--.col-->
                  <div class="col-md-6">
                    <div class="card card-indigo card-image bg-image sample-bg-image4">

                    </div><!--.card-->
                  </div><!--.col-->
                  <div class="col-md-6">
                    <div class="card card-indigo card-image bg-image sample-bg-image4">

                    </div><!--.card-->
                  </div><!--.col-->
                  <div class="col-md-6">
                    <div class="card card-indigo card-image bg-image sample-bg-image4">

                    </div><!--.card-->
                  </div><!--.col-->
                </div><!--.tab-pane-->
              </div>
              <div class="tab-pane" id="tab1_4">
                <div class="panel">
                  <div class="panel-heading">
                    <div class="panel-title"><h4>BASIC</h4></div>
                  </div><!--.panel-heading-->
                  <div class="panel-body">
                    <div style='width: 800px;'>
                      <div id="map" style='width: 800px; height: 400px;'></div>
                    </div>
                  </div><!--.panel-body-->
                </div><!--.panel-->
              </div><!--.tab-pane-->
            </div><!--.tab-content-->

          </div><!--.col-md-9-->
        </div><!--.row-->
      </div>
    </div><!--.panel-body-->
  </div><!--.panel-->
</div><!--.col-md-12-->



