
<section class="border-top">
	<div class="container">
		<div class="page-title mrgb6x mrgt6x clearfix">
			<h4 class="page-name"><%= @space.city %></h4>
      <div class="tag-bar"> <a href="#"><span><%= @space.state %></span></a> </div>
			<ul class="breadcrumb">
				<li><a href="#">Spaces</a></li>
				<li class="active"><%= @space.name %></li>
			</ul>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="property-single">
			<div class="col-md-6 no-padding col-sm-8 animated out" >
        <div ><%= cl_image_tag(@space.image_url(:display), width:"100%")%>
					<div class="image-detail">
						<h5 class="place-name"><%= @space.name %>
              <%= rating_for @space, "space", :disable_after_rate => true %></h5>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-4 animated out" >
				<div class="property-heading property-info">
					<h4><span><%= @space.name %></span></h4>
					<p>
            <b>Address:</b>
            <%= @space.address %>, <%= @space.city %>, <%= @space.state %> <br>
             <b><%= @space.desks.count %> seats in this space</b>
          </p>
          <p><%= @space.description %></p>
          <p>This space is owned by <%= link_to User.find(@space.user_id).name, User.find(@space.user_id) %></p>
          
          <% if (user_signed_in?) && (current_user.id == @space.user_id) %>
           <%= link_to "ADD A DESK", new_space_desk_path(@space), class:"btn btn-primary btn-lg" %>
          <%= link_to "EDIT ", edit_space_path(@space), class:"btn btn-success " %>
           <%= link_to 'DELETE ', @space, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %>
          <% end %>
				</div>
        <div class="col-md-6 no-padding col-sm-6 animated out" >

			</div>
			</div>
		</div>
    
	</div>
  
</section>

<section>
	<div class="container" >
		<div class="featured-properties animated out" >
			<div class="section-heading mrgt7x mrgb7x">
				<h3><span>AVAILABLE SEATS IN THIS LOCATION</span></h3>
			</div>
      <% @desks.order('created_at DESC').each_slice(3) do |desk_group| %>
			<div class="section-detail">
        <% desk_group.each do |desk| %>
        <div class="col-md-4 col-sm-6">
					<div class="home2 property-box border-hover animated out" >
            <div class="appartment-img"><%= cl_image_tag(desk.image_url(:thumbnail), width:"100%") %>
              <div class="room-price"><span>$<%= desk.price %><sup>/hour</sup></span></div>
						</div>
						<div class="property-text">
							<div class="resort-name">
								<h4><%= desk.name %></h4><br>
								<p><%= desk.description %></p>
							</div>
							<div class="detail-btn mrgt4x mrgb3x"><%= link_to "BOOK IT NOW", new_space_desk_booking_path(@space, desk), class:"more-detail" %>  </div>
              <% if (user_signed_in?) && (current_user.id == @space.user_id) %>
              <%= link_to "EDIT", edit_space_desk_path(@space, desk), class:"btn btn-primary" %>
              <%= link_to 'REMOVE', [@space, desk] , method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger " %>
                     
                  <% if desk.private == true %>
                      <i class="fa fa-eye-slash"></i>
                  <% end %>
              <% end %>
						</div>
						<ul class="home2 appartment-detail">
              <li><%= rating_for desk, "desk", :disable_after_rate => true %></li>
						</ul>
					</div>
				</div>
        
         <% end %>
			</div>
     <% end %>
		</div>
	</div>
</section>

