
<section class="border-top">
	<div class="container">
		<div class="page-title mrgb6x mrgt6x clearfix">
			<h4 class="page-name"><%= @space.city %></h4>
      <div class="tag-bar"> <a href="#"><span><%= @space.state %></span></a> 
    </div>
			<ul class="breadcrumb">
        <li>
          <% if @space.parent_id != nil %>  
          <%= link_to Space.find(@space.parent_id).name, Space.find(@space.parent_id) %>
          <% end %>
        </li>
				<li class="active"><%= @space.name %></li>
			</ul>
		</div>
	</div>
</section>
<!----------------------------------Main Space----------------------------------->
<section>
	<div class="container">
		<div class="property-single">
			<div class="col-md-6 no-padding col-sm-8 animated out" >
        <div ><%= cl_image_tag(@space.image_url(:display), width:"100%")%>
					<div class="image-detail">
						<h5 class="place-name"><%= @space.name %>
              <%= rating_for @space, "space", :disable_after_rate => true %></h5>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-4 animated out" >
				<div class="property-heading property-info">
					<h4><span><%= @space.name %></span></h4>
					<p><%= @space.description %></p>
            <% if @space.parent_id == nil %>
             <p>
     
               <% end %>
            <p>
            

                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="property-price">
                        <h1><span><sup>$</sup><%= @space.price %><sup>/<%= @space.scale %></sup></span></h1>
                        <div class="detail-btn mrgt4x mrgb3x text-center"><%= link_to "BOOK IT NOW", new_space_booking_path(@space), class:"more-detail" %>  </div>
                      </div>
                    </div>


          
          
          <p>This space is owned by <%= link_to User.find(@space.user_id).name, User.find(@space.user_id) %></p>
          <% if (user_signed_in?) && (current_user.id == @space.user_id) %>
          <%= link_to "EDIT ", edit_space_path(@space), class:"btn btn-success " %>
           <%= link_to 'DELETE ', @space, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %>
          <% end %>
				</div>
        <div class="col-md-6 no-padding col-sm-6 animated out" >

			</div>
			</div>
		</div>
    
	</div>
  
</section>


