
<section class="border-top">
	<div class="container">
		<div class="page-title mrgb6x mrgt6x clearfix">
			<h4 class="page-name"><%= @space.city %></h4>
      <div class="tag-bar"> <a href="#"><span><%= @space.state %></span></a> </div>
			<ul class="breadcrumb">
        <li>
          <% if @space.parent_id != nil %>  
          <%= link_to @space.parent.name, @space.parent %>
          <% end %>
        
        </li>
				<li class="active"><%= @space.name %></li>
			</ul>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="property-single">
			<div class="col-md-6 no-padding col-sm-8 animated out" >
        <div ><%= cl_image_tag(@space.image_url(:display), width:"100%")%>
					<div class="image-detail">
						<h5 class="place-name"><%= @space.name %>
              <%= rating_for @space, "space", :disable_after_rate => true %></h5>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-4 animated out" >
				<div class="property-heading property-info">
					<h4><span><%= @space.name %></span></h4>
					<p>
            <b>Address:</b>
            <%= @space.address %>, <%= @space.city %>, <%= @space.state %> <br>
            <b><%= @space.children.count %> seats in this space</b>
          </p>
          <p><%= @space.description %></p>
           <p>This space is owned by <%= link_to User.find(@space.user_id).name, User.find(@space.user_id) %></p>
          <% if @space.can_book == true %>
             <div class="detail-btn mrgt4x mrgb3x"><%= link_to "BOOK IT NOW", new_space_booking_path(@space), class:"more-detail" %>  </div>
          <% end %>
          
          <% if (user_signed_in?) && (current_user.id == @space.user_id) %>
          <%= link_to "ADD A SUBSPACE", new_space_path(parent: @space), class:"btn btn-primary btn-lg" %>
          <%= link_to "EDIT ", edit_space_path(@space), class:"btn btn-success " %>
           <%= link_to 'DELETE ', @space, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %>
          <% end %>
				</div>
        <div class="col-md-6 no-padding col-sm-6 animated out" >

			</div>
			</div>
		</div>
    
	</div>
  
</section>





<% @subspaces= Space.where(parent_id: @space.id) %>
<section>
	<div class="container" >
		<div class="featured-properties animated out" >
			<div class="section-heading mrgt7x mrgb7x">
				<h3><span>AVAILABLE SEATS IN THIS LOCATION</span></h3>
			</div>
          <% @subspaces.order('created_at DESC').each_slice(3) do |subspace_group| %>
			<div class="section-detail">
        <% subspace_group.each do |subspace| %>
        <div class="col-md-4 col-sm-6">
					<div class="home2 property-box border-hover animated out" >
            <div class="appartment-img"><%= link_to cl_image_tag(subspace.image_url(:thumbnail), width:"100%"), subspace %>
              <div class="room-price"><span>$<%= subspace.price  %><sup>/<%= subspace.scale %></sup></span></div>
						</div>
						<div class="property-text">
							<div class="resort-name">
                
                <h4><%= subspace.name %></h4><br>
                <p><%= subspace.description %></p>
							</div>
							
						</div>
						
					</div>
				</div>
        
         <% end %>
			</div>
     <% end %>
		</div>
	</div>
</section>
