<%= form_for([@space, @booking]) do |f| %>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>BOOK THIS SPACE</h4>
            <%= link_to "GO BACK", :back, class:"btn btn-flat btn-default pull-right"%>  
        </div>
      </div><!--.panel-heading-->
      <div class="panel-body">

        <div class="row example-row">
          <style>
            .sample-member719 {
              background-image: url('/assets/room.jpg');
            }
          </style>
          <div class="col-md-4">
            <div class="card card-user card-clickable card-clickable-over-content">

              <div class="card-heading heading-full">
                <%= cl_image_tag(@space.image_url(:thumbnail), width:"100%") %>

              </div><!--.card-heading-->

              <div class="card-body">
                <h3 class="card-title"><a href="#"><%= @space.name %></a></h3>
                <%= rating_for @space, "space", :disable_after_rate => true %>
              </div><!--.card-body-->

              <div class="card-footer">
                <%= link_to "View this Space", @space, class:"btn btn-xs btn-indigo pull-right" %>
              </div><!--.card-footer-->

            </div><!--.card-->
          </div><!--.col-md-4-->
          <div class="col-md-8">
            <div class="form-group">
              <label class="control-label col-md-3">Event Name</label>
              <div class="col-md-9">
                <div class="inputer">
                  <div class="input-wrapper">
                      <%= f.text_field 'title', class:"form-control", placeholder:"ex: Monthly yoga class", required:true%>
                  </div>
                </div>
              </div>
            </div><!--.form-group-->

              
            <div class="form-group">
              <label class="control-label col-md-3">Booking Duration</label>
              <div class="col-md-9">
                  <div class="input-wrapper">
                      <%= f.number_field 'length', min: 1, class:"form-control", required:true, placeholder:"How long are you booking it for? (hours)" %>
                  </div>
              </div>
            </div><!--.form-group-->
              
               <br><br>
              
              <div class="form-group">
              <label class="control-label col-md-3">Start Time</label>
              <div class="col-md-9">
                  <%= f.text_field :start_time, class:"form-control", id:"datetimepicker12" %>
                     <% f.datetime_select :start_time, class:"form-control"%>
              </div>
            </div><!--.form-group-->
              
              <br><br>
              
    
              
              
           <div class="form-group">
              <%= f.submit 'Book this Space!', class:"btn btn-indigo btn-lg pull-right" %>
              </div>
              
          </div><!--.col-md-8-->
        </div><!--.row-->

          
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div><!--.row-->
<% end %>


