<%
  @title1= "My Bookings"
  @title2= ""
%>

<div class="row">
  <!---div class="col-md-6">
    <div id='bookedcalendar'></div>
  </div---->
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>Bookings Under Review</h4></div>
      </div><!--.panel-heading-->
      <div class="card card-pricing card-pricing-simple">
        <% if  @bookings.where(approved: nil).empty? %>
            <div class="card-heading">
              <h4>You have not <br> requested any bookings <br><br></h4>
            </div><!--.card-heading-->
        <% end %>
      </div><!--.card-->
      <div class="panel-body without-padding">
        <ul class="list-material has-hidden">
          <% @bookings.where(approved: nil).order('created_at DESC').each do |b| %>
              <% @space= Space.find(b.space_id) %>
              <li class="has-action-left">
                <%= link_to  [@space, b] , method: :delete, data: { confirm: 'Are you sure?' }, class:"hidden" do%>
                    <i class="ion-android-delete"></i>
                <% end %>
                <a href="/spaces/<%= @space.id %>" class="visible">
                  <div class="list-action-left">
                    <%=  cl_image_tag(@space.image_url(:mini), class:"face-radius") %>
                  </div>
                  <div class="list-content">
                    <span class="title"> <%= @space.name %></span>
                <span class="caption"><%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours<br>

              </span>
                  </div>

                </a>
              </li>
          <% end %>
        </ul>
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div>

  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>Approved Bookings</h4></div>
      </div><!--.panel-heading-->
      <div class="card card-pricing card-pricing-simple">
        <% if  @bookings.where(approved: true).empty? %>
            <div class="card-heading">
              <h4>You have no<br> approved bookings <br><br></h4>
            </div><!--.card-heading-->
        <% end %>
      </div><!--.card-->
      <div class="panel-body without-padding">
        <ul class="list-material has-hidden">
          <% @bookings.where(approved: true).order('created_at DESC').each do |b| %>
              <% @space= Space.find(b.space_id) %>
              <li class="has-action-left">
                <%= link_to  [@space, b] , method: :delete, data: { confirm: 'Are you sure?' }, class:"hidden" do%>
                    <i class="ion-android-delete"></i>
                <% end %>
                <a href="/spaces/<%= @space.id %>" class="visible">
                  <div class="list-action-left">
                    <%=  cl_image_tag(@space.image_url(:mini), class:"face-radius") %>
                  </div>
                  <div class="list-content">
                    <span class="title"> <%= @space.name %></span>
                <span class="caption"><%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours<br>

              </span>
                  </div>

                </a>
              </li>
          <% end %>
        </ul>
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div>

</div>
