 <section class="border-top">
	<div class="container">
		<div class="page-title mrgb6x mrgt6x clearfix">
      <h4 class="page-name"><%= current_user.email %></h4>
      <div class="tag-bar"> <a href="#"><span>Recent Bookings</span></a> </div>
			<ul class="breadcrumb">
				<li><a href="#">Pages</a></li>
				<li class="active"><a href="#">Bookings booked</a></li>
			</ul>
		</div>
	</div>
</section>

<div class="row">
  <div class="col-md-5">
    <div id='manage_calendar'></div>
  </div>

<div class="col-md-7 booked">
  <br><br>
<% @bookings.order('created_at DESC').each do |b| %>  
  <% @space= Space.find(b.space_id) %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to cl_image_tag(b.desk.image_url(:mini), width:"100%"), @space %>
      </div>

      <div class="col-md-3">

        <b><a href="#" class="alert-link"> <%= b.desk.name %> at <%= @space.name %>:<br></a> <%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours</b>
        
        <p>
            <b>Address:</b>
          <%=@space.address %>, <%= @space.city %>, <%= @space.state %> <br>
          </p>
        <% if b.approved == nil %>  
          <%= link_to "CONFIRM", confirm_booking_path(b), method: :put, class:"btn btn-success" %>
        <% end %>
        <%= link_to 'CANCEL', [@space, b.desk , b] , method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger " %>
        
            </div>
     
     </div> 
  </div>
 <br>
       <% end %>

  </div>				

</div>
