<%= render "layouts/top.html.erb" %>


<div class="row">
  <!---div class="col-md-5">
    <div id='manage_calendar'></div>
  </div---->

  <div class="col-md-6">
    <div class="panel ">
      <div class="panel-heading">
        <div class="panel-title"><h4>Approved Bookings</h4></div>
      </div><!--.panel-heading-->
      <div class="panel-body without-padding">
        <ul class="list-material has-hidden">
        <% @bookings.where(approved: nil).order('created_at DESC').each do |b| %>
        <% @space= Space.find(b.space_id) %>
        <li class="has-action-left">
            <a href="#" class="hidden" data-toggle="modal" data-target="#smallModal"><i class="ion-gear-a"></i></a>
            <a href="/spaces/<%= @space.id %>" class="visible">
              <div class="list-action-left">
                <%=  cl_image_tag(@space.image_url(:mini), class:"face-radius") %>
              </div>
              <div class="list-content">
                <span class="title"> <%= @space.name %></span>
                <span class="caption"><%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours<br>
              </span>
              </div>
            </a>
          </li>
              <div class="modal scale fade" id="smallModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-body text-center">
                      <% if b.approved == nil %>
                          <%= link_to "CONFIRM", confirm_booking_path(b), method: :put, class:"btn btn-success" %>
                      <% end %>
                      <%= link_to 'DENY', [@space, b] , method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger " %>
                    </div>
                  </div><!--.modal-content-->
                </div><!--.modal-dialog-->
              </div><!--.modal-->
          <% end %>
        </ul>
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-->
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>Approved Bookings</h4></div>
      </div><!--.panel-heading-->
      <div class="panel-body without-padding">
        <ul class="list-material has-hidden">
        <% @bookings.where(approved: true).order('created_at DESC').each do |b| %>
        <% @space= Space.find(b.space_id) %>
        <li class="has-action-left">
            <%= link_to  [@space, b] , method: :delete, data: { confirm: 'Are you sure?' }, class:"hidden" do%>
              <i class="ion-android-delete"></i>
            <% end %>
            <a href="/spaces/<%= @space.id %>" class="visible">
              <div class="list-action-left">
                <%=  cl_image_tag(@space.image_url(:mini), class:"face-radius") %>
              </div>
              <div class="list-content">
                <span class="title"> <%= @space.name %></span>
                <span class="caption"><%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours<br>

              </span>
              </div>
            </a>
          </li>
          <% end %>
        </ul>
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-->
