<%
  @title1= "Manage Bookings"
  @title2= "Approve & Delete"
%>

<div class="note note-info note-left-striped">
    This is your space management page. On this page you can see who has requested your spaces. You can choose to either confirm or deny those bookings. Simply <b>hover</b> over a booking and click the settings icon to get started. <br><br>
    
    All your booking requests appear on the left panel. Once you approve a booking, it will appear on the right panel.
									<small class="text-white"><cite>Simeon</cite></small>
							
</div>

<div class="row">
  <!---div class="col-md-5">
    <div id='manage_calendar'></div>
  </div---->

  <div class="col-md-6">
    <div class="panel ">
      <div class="panel-heading">
        <div class="panel-title"><h4>Bookings Pending Approval</h4></div>
      </div><!--.panel-heading-->
      <div class="card card-pricing card-pricing-simple">
      <% if  @bookings.where(approved: nil).empty? %>
        <div class="card-heading">
          <h4>You have no bookings<br> pending approval <br><br></h4>
        </div><!--.card-heading-->
      <% end %>
      </div><!--.card-->
      <div class="panel-body without-padding">
        <ul class="list-material has-hidden">
        <% @bookings.where(approved: nil).order('created_at DESC').each do |b| %>
        <% @space= Space.find(b.space_id) %>
        <li class="has-action-left">
            <a href="#" class="hidden" data-toggle="modal" data-target="#smallModal"><i class="ion-gear-a"></i></a>
             <a data-toggle="modal" data-target="#smallModal" class="visible" href="#">
              <div class="list-action-left">
                <%=  cl_image_tag(@space.image_url(:mini), class:"face-radius") %>
              </div>
              <div class="list-content">
                <span class="title"> <%= @space.name %></span>
                <span class="caption"><%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours<br>
              </span>
              </div>
            </a>
          </li>
            <!------------------------------Modal-------------------------->
            <div class="modal scale fade" id="smallModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
                          <div class="col-md-12">
                            <div class="card card-user card-clickable card-clickable-over-content">
                              <div class="card-heading heading-full">
                                <%= link_to cl_image_tag(@space.image_url(:thumbnail), width:"100%"), @space %>
                              </div><!--.card-heading-->

                              <div class="card-body">
                                <h3 class="card-title"><a href="#"><%= @space.name %></a></h3>
                                <% if @space.number_of_seats != nil %>
                                  <div class="subhead"><%= @space.number_of_seats %> Seats in this space</div>
                                <% end %><hr>
                                  <small>You have booked this space from <%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours<br></small>
                              </div><!--.card-body-->

                              <div class="card-footer">
                                  <% if b.approved == nil %>
                                      <%= link_to "Confirm this booking", confirm_booking_path(b), method: :put, class:"btn btn-success btn-block" %>
                                  <% end %>
                                  <%= link_to  "Deny this booking", [@space, b] , method: :delete, data: { confirm: 'Are you sure you want to cancel this booking?' }, class:"btn btn-danger btn-block"%>

                              </div><!--.card-footer-->

                            </div><!--.card-->
                          </div><!--.col-md-4-->
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div><!--.modal-->
            <!------------------------------Modal-------------------------->
            
              <div class="modal scale fade" id="smallModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-body text-center">
                      <% if b.approved == nil %>
                          <%= link_to "CONFIRM", confirm_booking_path(b), method: :put, class:"btn btn-success" %>
                      <% end %>
                      <%= link_to 'DENY', [@space, b] , method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger " %>
                    </div>
                  </div><!--.modal-content-->
                </div><!--.modal-dialog-->
              </div><!--.modal-->
          <% end %>
        </ul>
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-->
    
    
    
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>Approved Bookings</h4></div>
      </div><!--.panel-heading-->
      <div class="card card-pricing card-pricing-simple">
        <% if  @bookings.where(approved: true).empty? %>
            <div class="card-heading">
              <h4>You have not <br> approved any bookings <br><br></h4>
            </div><!--.card-heading-->
        <% end %>
      </div><!--.card-->
      <div class="panel-body without-padding">
        <ul class="list-material has-hidden">
        <% @bookings.where(approved: true).order('created_at DESC').each do |b| %>
        <% @space= Space.find(b.space_id) %>
        <li class="has-action-left">
            <%= link_to  [@space, b] , method: :delete, data: { confirm: 'Are you sure?' }, class:"hidden" do%>
              <i class="ion-android-delete"></i>
            <% end %>
            <a data-toggle="modal" data-target="#smallModal2" class="visible" href="#">
              <div class="list-action-left">
                <%=  cl_image_tag(@space.image_url(:mini), class:"face-radius") %>
              </div>
              <div class="list-content">
                <span class="title"> <%= @space.name %></span>
                <span class="caption"><%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours<br>

              </span>
              </div>
            </a>
          </li>
            <!------------------------------Modal-------------------------->
             <div class="modal scale fade" id="smallModal2" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
                          <div class="col-md-12">
                            <div class="card card-user card-clickable card-clickable-over-content">
                              <div class="card-heading heading-full">
                                <%= link_to cl_image_tag(@space.image_url(:thumbnail), width:"100%"), @space %>
                              </div><!--.card-heading-->

                              <div class="card-body">
                                <h3 class="card-title"><a href="#"><%= @space.name %></a></h3>
                                <% if @space.number_of_seats != nil %>
                                  <div class="subhead"><%= @space.number_of_seats %> Seats in this space</div>
                                <% end %><hr>
                                  <small>You have booked this space from <%= b.start_time.strftime("%b/%d/%Y")  %> at <%= b.start_time.strftime("%I:%M%p")  %> for <%= b.length %> hours<br></small>
                              </div><!--.card-body-->

                              <div class="card-footer">
                                 <%= link_to "View this Space", @space, class:"btn btn-indigo btn-block" %>
                                  <%= link_to  "Cancel this booking", [@space, b] , method: :delete, data: { confirm: 'Are you sure you want to cancel this booking?' }, class:"btn btn-danger btn-block"%>

                              </div><!--.card-footer-->

                            </div><!--.card-->
                          </div><!--.col-md-4-->
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div><!--.modal-->
            <!------------------------------Modal-------------------------->
          <% end %>
        </ul>
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-->
