<div class="page-header full-content parallax" style="height: 600px; overflow: hidden">
  <div class="parallax-bg" style="background:
      linear-gradient(
          rgba(61, 79, 179, 0.46),
              rgba(61, 79, 179, 0.46)
          ),
      url('http://ishonors.com/images/office.jpg') 50% 50%;
      background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
  </div>

  <div class="profile-info">
    <div class="profile-photo">
      <%= cl_image_tag(@user.avatar_url(:display), class: "img-circle") %>
    </div><!--.profile-photo-->
    <div class="profile-text light">
      <%= @user.name %>
      <span class="caption">Basic User</span>
    </div><!--.profile-text-->
  </div><!--.profile-info-->

  <div class="row">
    <div class="col-sm-6">
      <h1>User Profile <small><%= @user.name %></small></h1>
    </div><!--.col-->
    <div class="col-sm-6">

    </div><!--.col-->
  </div><!--.row-->

  <div class="header-tabs scrollable-tabs sticky">
    <ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
      <li class="active"><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
      <li><a href="#photos" data-toggle="tab" class="btn-ripple">Spaces</a></li>
      <li><a href="#friends" data-toggle="tab" class="btn-ripple">Bookings</a></li>
    </ul>
  </div>

</div><!--.page-header-->

<div class="row user-profile">
  <div class="col-md-12">
    <div class="tab-content without-border">
      <div id="about" class="tab-pane active">
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-tabs borderless vertical">
              <li class="active"><a href="#about_overview" data-toggle="tab">Overview</a></li>
              <li><a href="#about_timeline" data-toggle="tab">Timeline</a></li>
            </ul>
          </div><!--.col-md-3-->
          <div class="col-md-9">
            <div class="tab-content">

              <div class="tab-pane active" id="about_overview">
                <div class="legend">Contact Information</div>
                <div class="row">
                  <div class="col-md-3">Mobile Phones</div><!--.col-md-3-->
                  <div class="col-md-9">+1-202-555-0173</div><!--.col-md-9-->
                </div><!--.row-->
                <div class="row">
                  <div class="col-md-3">Address</div><!--.col-md-3-->
                  <div class="col-md-9">2002 Holcombe Boulevard<br>Houston, TX 77030 </div><!--.col-md-9-->
                </div><!--.row-->
                <div class="row">
                  <div class="col-md-3">Website</div><!--.col-md-3-->
                  <div class="col-md-9">http://www.teamfox.co</div><!--.col-md-9-->
                </div><!--.row-->
                <div class="row">
                  <div class="col-md-3">Email</div><!--.col-md-3-->
                  <div class="col-md-9">info@teamfox.com</div><!--.col-md-9-->
                </div><!--.row-->
                <div class="row">
                  <div class="col-md-3">Facebook</div><!--.col-md-3-->
                  <div class="col-md-9">fb.com/teamfoxco</div><!--.col-md-9-->
                </div><!--.row-->
                <div class="row">
                  <div class="col-md-3">Twitter</div><!--.col-md-3-->
                  <div class="col-md-9">twitter.com/teamfox</div><!--.col-md-9-->
                </div><!--.row-->

                <div class="legend">Basic Information</div>
                <div class="row">
                  <div class="col-md-3">Birth Date</div><!--.col-md-3-->
                  <div class="col-md-9">July 17</div><!--.col-md-9-->
                </div><!--.row-->
                <div class="row">
                  <div class="col-md-3">Birth Year</div><!--.col-md-3-->
                  <div class="col-md-9">2014</div><!--.col-md-9-->
                </div><!--.row-->
                <div class="row">
                  <div class="col-md-3">Gender</div><!--.col-md-3-->
                  <div class="col-md-9">Male</div><!--.col-md-9-->
                </div><!--.row-->
              </div><!--#about_overview.tab-pane-->

              <div class="tab-pane" id="about_timeline">
                <div class="timeline single">
                  <div class="frame">
                    <div class="timeline-badge">
                      <i class="fa fa-headphones"></i>
                    </div><!--.timeline-badge-->
                    <span class="timeline-date">17 August 1999</span>
                    <div class="timeline-content">
                      <p>The 1999 Kocaeli earthquake occurred with a moment magnitude of 7.4 that struck northwestern Turkey on 17 August at about 3:02 a.m. local time.</p>
                    </div><!--.timeline-content-->
                  </div><!--.frame-->
                  <div class="frame">
                    <div class="timeline-badge">
                      <i class="fa fa-tree"></i>
                    </div><!--.timeline-badge-->
                    <span class="timeline-date">December 28, 1908</span>
                    <div class="timeline-content">
                      The 1908 Messina earthquake and tsunami took about 123,000 lives on December 28, 1908, in Sicily and Calabria, southern Italy.
                    </div><!--.timeline-content-->
                  </div><!--.frame-->

                  <div class="frame">
                    <div class="timeline-badge">
                      <i class="fa fa-tree"></i>
                    </div><!--.timeline-badge-->
                    <span class="timeline-date">18 April 1906</span>
                    <div class="timeline-content">
                      The San Francisco earthquake of 1906 struck San Francisco and the coast of Northern California at 5:12 a.m. on Wednesday, April 18, 1906.
                    </div><!--.timeline-content-->
                  </div><!--.frame-->

                  <div class="frame">
                    <div class="timeline-badge">
                      <i class="fa fa-tree"></i>
                    </div><!--.timeline-badge-->
                    <span class="timeline-date">May, 526</span>
                    <div class="timeline-content">
                      The 526 Antioch earthquake hit Syria (region) and Antioch in the Byzantine Empire in 526. It struck during late May, probably between May 20–29, at mid-morning, killing approximately 250,000 people.
                    </div><!--.timeline-content-->
                  </div><!--.frame-->
                </div><!--.timeline-->

              </div><!--#about_timeline.tab-pane-->

            </div><!--.tab-content-->

          </div><!--.col-md-9-->
        </div><!--.row-->
      </div><!--#about.tab-pane-->

      <div id="photos" class="tab-pane">
        <div class="row image-row">
          <% @spaces.each_slice(3) do |space_group| %>
              <div class="row">
                <% space_group.each do |space| %>
                    <div class="col-md-4">
                      <div class="card card-user card-clickable card-clickable-over-content">
                        <div class="card-heading heading-full">
                          <%= cl_image_tag(space.image_url(:thumbnail), width:"100%") %>

                          <div class="clickable-button">
                            <div class="layer bg-green"></div>
                            <a class="btn btn-floating btn-green initial-position floating-open"><i class="ion-android-share-alt"></i></a>
                          </div>

                          <div class="layered-content bg-green">
                            <div class="overflow-content">
                              <h4>Follow Aleksio</h4>
                              <ul class="inline-list social-list borderless">
                                <li><a class="btn btn-facebook btn-ripple"><i class="ion-social-facebook"></i></a></li>
                                <li><a class="btn btn-twitter btn-ripple"><i class="ion-social-twitter"></i></a></li>
                                <li><a class="btn btn-googleplus btn-ripple"><i class="ion-social-googleplus"></i></a></li>
                              </ul>
                            </div><!--.overflow-content-->
                            <div class="clickable-close-button">
                              <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
                            </div>
                          </div>

                        </div><!--.card-heading-->

                        <div class="card-body">
                          <h3 class="card-title"><a href="#"><%= space.name %></a></h3>
                          <%= rating_for space, "space", :disable_after_rate => true %>
                          <div class="subhead">Room 300 in the <a href="#">Lesko Building</a></div>

                        </div><!--.card-body-->

                        <div class="card-footer">
                          <%= link_to "View this Space", space, class:"btn btn-xs btn-indigo pull-right" %>
                        </div><!--.card-footer-->

                      </div><!--.card-->
                    </div><!--.col-md-4-->
                <% end %>
              </div>
          <% end %>


        </div><!--.row-->
      </div><!--#photos.tab-pane-->
      <div id="friends" class="tab-pane">

        <div class="row">

          <% @bookings.each do |f| %>
              <ul class="list-material">
                <li class="has-action-left has-action-right">
                  <a href="#" class="visible">
                    <div class="list-action-left">
                      <i class="ion-calendar icon"></i>
                    </div>
                    <div class="list-content">
                      <span class="title"><%= f.tenant.name %></span>
                            <span class="caption">
                              <%= f.start_time.strftime("Booked on %A %b/%d/%Y at %I:%M%p") %>
                              for <%= f.length %> hour(s)
                              <br />Main Conference Room</span>

                    </div>
                    <div class="list-action-right">
                      <span class="top"><%= ((f.start_time - Time.now)/86400).round  %> days <br> from today</span>
                      <i class="ion-android-done bottom"></i>
                    </div>
                  </a>
                </li>
               </ul>
          <% end %>
        </div><!--.row-->

      </div><!--#friends.tab-pane-->
    </div><!--.tab-content-->
  </div><!--.col-->
</div><!--.row-->

