<style type="text/css">
  #message{
    position:relative;
    left:25%;
    width: 50%;
    border: solid 5px #FF6600;
    text-align:center;
    border-radius:15px;
  }
   h1, h3, p , pre{
    color: blue;
    font-family: "Comic Sans", Cursive, Georgia, Sans-serif;
  }
</style>

<div class= "container" id="message">
<h1>Congratulations!!!</h1>

  <p>The following reservation has been confirmed</p>
  <pre>Space: <b><%= @space.name%></b><br/>
       Address: <b><%= @space.address%></b><br/>
                <b><%= @space.city%>, <%=@space.state%>, <%=@space.zip%></b><br/>
       Reservation Start Time:<b><%= @booking.start_time%></b>
       Reservation End Time:<b><%= @booking.end_time%></b></pre>

  <address><a href="mailto:reservations@slimspace.io">reservations@slimspace.io</a></address><br/>

<h3>Thank you and we do look forward to being your first stop when listing and looking for your perfect workspace, and please come back soon</h3>
  <p>BizHack DC | Copyright Slimspace 2015</p>
</div>
