<<<<<<< HEAD
<% @login = true%>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
<div class="login-screen">
  <div class="panel-login blur-content">
    <div class="panel-heading"><br /><a href="/">SlimSpace</a><br /></div><!--.panel-heading-->

    <div id="pane-login" class="panel-body active">
      <h2>Login to Dashboard</h2>
      <div class="form-group">
        <div class="inputer">
          <div class="input-wrapper">
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Enter your email address" %>
          </div>
        </div>
      </div><!--.form-group-->
      <div class="form-group">
        <div class="inputer">
          <div class="input-wrapper">
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Enter your password"%>
          </div>
        </div>
      </div><!--.form-group-->
      <div class="form-group">
        <%= f.check_box :remember_me, class:"pull-left"%>
        <%= f.label :remember_me %>
      </div><!--.form-buttons-->
      <div class="form-buttons clearfix">
        <%= f.submit "Log in", class:"btn btn-white btn-block" %>
      </div><!--.form-buttons-->

<% end %>

<br>
      <ul class="">
        <li><%= render "devise/shared/links" %></li>
      </ul>
    </div><!--#login.panel-body-->


  </div><!--.blur-content-->
</div><!--.login-screen-->

<div class="bg-blur dark">
  <div class="overlay"></div><!--.overlay-->
</div><!--.bg-blur-->

<svg version="1.1" xmlns='http://www.w3.org/2000/svg'>
  <filter id='blur'>
    <feGaussianBlur stdDeviation='7' />
  </filter>
</svg>

=======
<div class="login-screen">
  <div class="panel-login blur-content">
    <div class="panel-heading"><br />Slimspace<br /></div><!--.panel-heading-->

    <div id="pane-login" class="panel-body active">
      <h2>Login to Slimspace</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="inputer">
          <div class="input-wrapper">
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Enter your email address" %>
          </div>
        </div>
      </div><!--.form-group-->
      <div class="form-group">
        <div class="inputer">
          <div class="input-wrapper">
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Enter your password" %>
          </div>
        </div>
      </div><!--.form-group-->
          <div class="form-group">
            <div class="inputer">
              <div class="input-wrapper">
                <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Enter your password" %>
              </div>
            </div>
          </div><!--.form-group-->
      <div class="form-buttons clearfix">

        <label class="pull-left"><%= f.check_box :remember_me %> Remember me</label>
        <%= f.submit "Log in", class:"btn btn-success pull-right" %>
      </div><!--.form-buttons-->
<% end %>
      <div class="social-accounts">
        <div class="btn-group btn-merged btn-group-justified">
          <div class="btn-group">
            <a class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
          </div>
          <div class="btn-group">
            <a class="btn btn-social btn-github"><i class="fa fa-github"></i> Github</a>
          </div>
        </div>
      </div><!--.social-accounts-->

      <ul class="extra-links">
        <li><%= link_to "Forgot your password?", new_password_path(resource_name), class:"show-pane-forgot-password" %></li>
        <li><%= link_to "Create a new account", new_registration_path(resource_name), class: "show-pane-create-account" %></li>
      </ul><br />
    </div><!--#login.panel-body-->
    </div>
  </div>

</div>
>>>>>>> 6f5c009cebdedafb26d1d368a5c9c77cc9db5b60

