
<div class="top-bar">
	<div class="container">
		<div class="left-bar">
			<ul class="social-media">
				<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li class="google"><a href="#"><i class="fa fa-google"></i></a></li>
			</ul>
		</div>
		<div class="right-bar">
			<ul class="contact">
				<li><i class="fa fa-globe"></i></li>
        <li ><a href="/">Home</a></li>
			</ul>
			<ul class="mail">
        

			</ul>
      
      <% if user_signed_in? %>
      
      <ul class="login">
        <li><i class="fa fa-sign-out"></i></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><i class="fa fa-person"></i></li>
        
			</ul>
      <% else %>
      
			<ul class="login">
				<li><i class="fa fa-sign-in"></i></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><i class="fa fa-user"></i></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
			</ul>
      
      <% end %>
		</div>
	</div>
</div>

<header>
	<div class="container">
		<div class="navigation clearfix">
			<div class="logo"><a href="/"><img src="http://res.cloudinary.com/bisonshare/image/upload/v1439125099/slimspace_cyeabn.png" height="50" alt="#" /> </a></div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar first"></span> <span class="icon-bar middle"></span> <span class="icon-bar last"></span> </button>
			</div>
			<div class="menu">
				<nav class="navbar navbar-default">
					<div id="navbar" class="navbar-collapse collapse pull-right">
						<ul class="nav navbar-nav">

             <% if user_signed_in? %> 
              <li><%= link_to "VIEW SPACES", spaces_path %></li>
        
              <li><%= link_to "MY PROFILE", current_user %></li>
              <li><%= link_to "MY BOOKINGS", bookings_booked_path %></li>
              <li><a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">MANAGE</a>
								<ul class="dropdown-menu" role="menu">
									<li><%= link_to "MANAGE SPACES", manage_user_path(current_user) %></li>
									<li><%= link_to "ADD A SPACE", new_space_path %></li>
								</ul>
							</li>
            
              <% end %> 
             
				
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
