<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn btn-floating btn-indigo" href="/spaces/new" ><i class="ion-android-add"></i></a>
</div>



<div class="nav-bar-container">

  <!-- BEGIN ICONS -->
  <div class="nav-menu">
    <div class="hamburger">
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
    </div><!--.hamburger-->
  </div><!--.nav-menu-->

  <div class="nav-search">
    <span class="search"></span>
  </div><!--.nav-search-->

  <div class="nav-add">
    <span class="search"></span>
  </div><!--.nav-search-->
    


  <div class="nav-bar-border"></div><!--.nav-bar-border-->

  <!-- BEGIN OVERLAY HELPERS -->
  <div class="overlay">
    <div class="starting-point">
      <span></span>
    </div><!--.starting-point-->
    <div class="logo">SLIMSPACE</div><!--.logo-->
  </div><!--.overlay-->

  <div class="overlay-secondary"></div><!--.overlay-secondary-->
  <!-- END OF OVERLAY HELPERS -->

    
    
    
</div><!--.nav-bar-container-->


<div class="layer-container">

  <!-- BEGIN MENU LAYER -->
  <div class="menu-layer">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/static_page/about">Front Page</a></li>
      <li><%= link_to "Browse Spaces", spaces_path %></li>

      <% if !user_signed_in? %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li data-open-after="true"><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
      <% if user_signed_in? %>
      <li><%= link_to "My Profile", current_user %></li>
      <li>
        <a href="javascript:;">Spaces I Manage</a>
        <ul class="child-menu">
          <% if user_signed_in? %>
              <li><%= link_to "Add a Space", new_space_path %></li>
              <li><%= link_to "Manage Space Bookings", manage_user_path(current_user) %></li>
          <% end %>
        </ul>
      </li>
      <li>
        <li><%= link_to "Spaces I Booked", bookings_booked_path %></li>
      </li>
      <% end %>
      <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% end%>
    </ul>
  </div><!--.menu-layer-->
  <!-- END OF MENU LAYER -->

  <!-- BEGIN SEARCH LAYER -->
  <div class="search-layer">
    <div class="search">
      <%= form_tag(spaces_path, :method => "get", id: "search-form", class: "search") do %>
        <div class="form-group">
          <%= number_field_tag :capacity, params[:capacity], placeholder:"Search by Capacity ex: 5, 10, 300", class:"form-control", id:"input-search"%> 
          <button type="submit" class="btn btn-default btn-white"><i class="ion-chevron-right"></i></button>
        </div>
          <div class="form-group">
            <%= text_field_tag :searchDateRange, params[:searchDateRange],  placeholder:"Search by date", class:"form-control bootstrap-daterangepicker-date-time searchRange", size:50, id:"input-search"%>
            <button type="submit" class="btn btn-default btn-white"><i class="ion-chevron-right"></i></button>
          </div>
      <% end %>
    </div><!--.search-->
    <div class="results"> 
      <div class="row"> 
        <div class="col-md-8"> 
          <div class="result result-posts"> 
          </div><!--.results-posts--> 
        </div><!--.col--> 
        <div class="col-md-4"> 
          <div class="result result-posts">  
          </div><!--.results-posts--> 
        </div><!--.col-->  
      </div><!--.row--> 
    </div><!--.results--> 

  </div><!--.search-layer-->
  <!-- END OF SEARCH LAYER -->
</div>