<div class="top-bar">
	<div class="container">
		<div class="left-bar">
			<ul class="social-media">
				<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li class="google"><a href="#"><i class="fa fa-google"></i></a></li>
			</ul>
		</div>
		<div class="right-bar">
			<ul class="contact">
				<li><i class="fa fa-globe"></i></li>
        <li ><a href="/">Go Home</a></li>
			</ul>
			<ul class="mail">
        

			</ul>
      
      <% if user_signed_in? %>
      
      <ul class="login">
        <li><%= link_to "Add a Space", new_space_path, class:"btn btn-success" %></li>
        <li><i class="fa fa-mail-forward"></i></li>
        <li><%= link_to "View Spaces", spaces_path %></li>
        <li><i class="fa fa-sign-out"></i></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><i class="fa fa-person"></i></li>
        <li><%= link_to "My Booking", bookings_booked_path %></li>
			</ul>
      <% else %>
      
			<ul class="login">
				<li><i class="fa fa-sign-in"></i></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><i class="fa fa-user"></i></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
			</ul>
      
      <% end %>
		</div>
	</div>
</div>

<header>
	<div class="container">
		<div class="navigation clearfix">
			<div class="logo"><a href="/"><img src="http://res.cloudinary.com/bisonshare/image/upload/v1439125099/slimspace_cyeabn.png" height="50" alt="#" /> </a></div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar first"></span> <span class="icon-bar middle"></span> <span class="icon-bar last"></span> </button>
			</div>
			<div class="menu">
				<nav class="navbar navbar-default">
					<div id="navbar" class="navbar-collapse collapse pull-right">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">HOME</a>
							</li>
							<li><a href="#">FEATURES</a></li>
							<li><a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">PROPERTIES</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="properties-list.html">PROPERTIES LIST</a></li>
									<li><a href="properties-list-2.html">PROPERTIES LIST 2</a></li>
									<li><a href="properties-right-bar.html">PROPERTIES RIGHT SIDEBAR</a></li>
									<li><a href="properties-right-bar-2.html">PROPERTIES RIGHT SIDEBAR 2</a></li>
									<li><a href="property-single.html">PROPERTY SINGLE</a></li>
									<li><a href="property-single-2.html">PROPERTY SINGLE 2</a></li>
									<li><a href="property-single-side-bar.html">PROPERTY SINGLE SIDEBAR</a></li>
								</ul>
							</li>
							<li><a href="agents.html">AGENTS</a></li>
							<li><a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">BLOG</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="blog-single-post.html">Blog Single Post</a></li>
									<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
								</ul>
							</li>
							<li><a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">PAGES</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="service-page.html">SERVICE PAGE</a></li>
									<li><a href="service-list.html">SERVICE LIST</a></li>
									<li><a href="pricing.html">PRICING</a></li>
									<li><a href="booking-page.html">BOOKING</a></li>
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="shortcodes.html">SHORTCODES</a></li>
								</ul>
							</li>
              <% if user_signed_in? %>  
              <li><%= link_to "MY PROFILE", current_user %>
							</li>
              <li><%= link_to "MANAGE", manage_user_path(current_user) %>
							</li>
              <% end %> 
             
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
