<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
  <style>
    .bg-login{
      background-color: indigo;
      background: url('http://kakpovicom.fatcow.com/images/coffeeshop.jpg')no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
</head>


<body class="bg-login printable">

<div class="content">
   <% unless flash.empty? %>
	  <script type="text/javascript">
	      <% flash.each do |f| %>
	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
	     	 toastr['<%= type %>']('<%= f[1] %>');
	      <% end %>
	  </script>
	 <% end %>

  <%= yield %>
</div>

<!-- BEGIN INITIALIZATION-->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
  Pleasure.init();
  Layout.init();
  FormsPickers.init();
</script>
<!-- END INITIALIZATION-->
<script>
  $( document ).ready(function() {
    handler = Gmaps.build('Google');
    handler.buildMap({provider: {}, internal: {id: 'map'}}, function () {
      markers = handler.addMarkers([
        {
          "lat": 38.9047,
          "lng": 77.0164,
          "picture": {
            "url": "https://cws.auburn.edu/map/Content/images/suggestion-icon-placemark.png",
            "width": 32,
            "height": 32
          },
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });
  $(document).ready(function() {
    $("#calendar").fullCalendar({
      header: {
        left: "prev,next today",
        center: "title",
        right: "month,agendaWeek,agendaDay"},
      defaultView: "month",
      height: 500,
      slotMinutes: 15,
      events: "/testjsons.json",
      timeFormat: "h:mm t{ - h:mm t} ",
      dragOpacity: "0.5"
    });
  });
</script>

</body>
</html>
